<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.upmcsic.car.usabilityapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.upmcsic.car.usabilityapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.upmcsic.car.usabilityapp.pruebas.bluetooth.BluetoothActivity"
            android:label="bluetooth" >
        </activity>
        <activity
            android:name="es.upmcsic.car.usabilityapp.xmlvalidator.ValidationActivity"
            android:label="validation" >
        </activity>
        <activity
            android:name="es.upmcsic.car.usabilityapp.pruebas.io.ReadWriteActivity"
            android:label="read-write" >
        </activity>
        <activity
            android:name="es.upmcsic.car.usabilityapp.pruebas.graphic.GraphicActivity"
            android:label="graphics" >
        </activity>
        <activity
            android:name="es.upmcsic.car.usabilityapp.pruebas.database.DBActivity"
            android:label="database" >
        </activity>
        <activity
            android:name="es.upmcsic.car.usabilityapp.pruebas.ui.UIActivity"
            android:label="interface" >
        </activity>
    </application>

</manifest>